export(dta_from_meta)
export(plot_sensspec_forest_meta)
export(plot_sroc)
export(fit_sroc)
export(posttest_probability)
importFrom(stats,binomial,plogis,qlogis,quantile,setNames)
importFrom(utils,head,tail)
